




<div class="modal fade" id="myModal_ThemHuongDanSinhVienNCKH" role="dialog">
    <div class="modal-dialog text-center">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="" id="headerDialog">Thêm Đề Tài</h4>
            </div>
            <div class="modal-body">

                <div id="All_Dialog" class="" style="padding:20px 30px">
                    <div class="panel panel-warning">
                        <div class="panel-heading text-center ">

                        </div>


                        <table style="margin:5px;">
                            <tr>
                                <td>
                                    <strong class="pull-right" style="margin:10px 0 10px 10px">Tên đề tài: </strong>
                                </td>
                                <td colspan="3">
                                    <input class="input_height form-control-static" id="tenDeTaiHD" type="text" style="margin-left:10px;width:440px;max-width:100%" placeholder="Tên đề tài..." maxlength="50" />
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong class="pull-right" style="margin:10px 0 10px 10px">KQ Khoa đánh giá: </strong>
                                </td>
                                <td colspan="3">
                                    <input class="input_height form-control-static" id="KQKhoaHD" type="text" style="margin-left:10px;width:178px;max-width:100%;float:left" placeholder="Tốt/Khá..." maxlength="50" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong class="pull-right" style="margin:10px 0 10px 10px">KQ trường đánh giá: </strong>
                                </td>
                                <td colspan="3">
                                    <input class="input_height form-control-static" id="KQTruongHD" type="text" style="margin-left:10px;width:178px;max-width:100%;float:left" placeholder="Tốt/Khá..." maxlength="255" />
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    <strong class="pull-right" style="margin:10px 0 10px 10px">Giải thưởng: </strong>
                                </td>
                                <td colspan="3">
                                    <input class="input_height form-control-static" id="giaiThuongHD" type="text" style="margin-left:10px;width:178px;max-width:100%;float:left" placeholder="Nhất/Nhì..." maxlength="255" />
                                </td>
                            </tr>


                            <tr>
                                <td style="width:150px">
                                    <strong>Từ ngày: </strong>
                                </td>
                                <td style="text-align:left">
                                    <input style="margin-left:10px;width:178px" id="tuNgayHD" class="input_height form-control-static" type="text" maxlength="7" placeholder="mm/yyyy" />
                                </td>
                                <td><strong style="padding-left:10px">Đến ngày:</strong></td>
                                <td>
                                    <input id="denNgayHD" class="input_height form-control-static " type="text" maxlength="7" placeholder="mm/yyyy" />
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong class="pull-right" style="margin:10px 0 10px 10px">Ghi chú: </strong>
                                </td>
                                <td colspan="3">
                                    <input class="input_height form-control-static" id="ghiChuHD" type="text" style="margin-left:10px;width:440px;max-width:100%" placeholder="Ghi chú...." />
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong class="pull-right" style="margin:10px 0 10px 10px">Giờ NCKH quy đổi: </strong>
                                </td>
                                <td colspan="3">
                                    <input class="input_height form-control-static" id="gioNCKHQuyDoiHD" type="text" style="margin-left:10px;width:178px;max-width:100%;float:left" placeholder="Giờ NCKH quy đổi...." maxlength="255" />
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button onclick="ThemHDNCKH()" class="btn btn-success "> Thêm</button>
                    <button class="btn btn-warning pull-right " id="ThemHDNCKH_Dismiss_Modal" data-dismiss="modal">Hủy</button>
                </div>

            </div>


        </div>
    </div>
</div>


