



<div class="modal fade" id="myModal_ThemSeminar" role="dialog">
    <div class="modal-dialog text-center">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="" id="headerDialog">Thêm Báo Cáo</h4>
            </div>
            <div class="modal-body">

                <div id="All_Dialog" class="" style="padding:20px 30px">
                    <div class="panel panel-warning">
                        <div class="panel-heading text-center ">

                        </div>


                        <table style="margin:5px;">
                            <tr>
                                <td>
                                    <strong class="pull-right" style="margin:20px 0 20px 10px">Tên báo cáo: </strong>
                                </td>
                                <td colspan="3">
                                    <input class="input_height form-control-static" id="tenBaoCaoSeminar" type="text" style="margin-left:10px;width:440px;max-width:100%" placeholder="Tên báo cáo..." />
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong class="pull-right" style="margin:20px 0 20px 10px">Tên tác giả: </strong>
                                </td>
                                <td colspan="3">
                                    <input class="input_height form-control-static" id="tenTacGiaSeminar" type="text" style="margin-left:10px;width:440px;max-width:100%" placeholder="Tên tác giả..." />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong class="pull-right" style="margin:20px 0 20px 10px">Cấp hội thảo: </strong>
                                </td>
                                <td colspan="3">
                                    <input class="input_height form-control-static" id="capSeminar" type="text" style="margin-left:10px;width:150px;max-width:100%;float:left" placeholder="Cấp seminar..." maxlength="255" />
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    <strong class="pull-right" style="margin:20px 0 20px 10px">Ngày thực hiện: </strong>
                                </td>
                                <td colspan="3">
                                    <input class="input_height form-control-static" id="ngayThucHienSeminar" type="text" style="margin-left:10px;width:150px;max-width:100%;float:left" placeholder="dd/mm/yyyy" maxlength="10" />
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    <strong class="pull-right" style="margin:20px 0 20px 10px">Ghi chú: </strong>
                                </td>
                                <td colspan="3">
                                    <input class="input_height form-control-static" id="ghiChuSeminar" type="text" style="margin-left:10px;width:440px;max-width:100%" placeholder="Ghi chú...." />
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    <strong class="pull-right" style="margin:20px 0 20px 10px">Giờ NCKH quy đổi: </strong>
                                </td>
                                <td colspan="3">
                                    <input class="input_height form-control-static" id="gioNCKHQuyDoiSeminar" type="text" style="margin-left:10px;width:150px;max-width:100%;float:left" placeholder="Giờ NCKH quy đổi...." maxlength="255" />
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button onclick="ThemSMN()" class="btn btn-success "> Thêm</button>
                    <button class="btn btn-warning pull-right " id="ThemSeminar_Dismiss_Modal" data-dismiss="modal">Hủy</button>
                </div>

            </div>


        </div>
    </div>
</div>


