







<div class="modal fade" id="myModal_ThemBBDKYQT" role="dialog">
    <div class="modal-dialog text-center">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="" id="headerDialog">Thêm Bài Báo Đăng Trên Kỷ Yếu Hội Thảo Quốc Tế</h4>
            </div>
            <div class="modal-body">

                <div id="All_Dialog" class="" style="padding:20px 30px">
                    <div class="panel panel-warning">
                        <div class="panel-heading text-center ">

                        </div>


                        <table style="margin:5px;">
                            <tr>
                                <td>
                                    <strong class="pull-right" style="margin:10px 0 10px 10px">Tên bài báo: </strong>
                                </td>
                                <td colspan="3">
                                    <input class="input_height form-control-static" id="tenBaiBaoKYQT" type="text" style="margin-left:10px;width:440px;max-width:100%" placeholder="Tên bài báo..." />
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong class="pull-right" style="margin:10px 0 10px 10px">Tên tác giả: </strong>
                                </td>
                                <td colspan="3">
                                    <input class="input_height form-control-static" id="tenTacGiaKYQT" type="text" style="margin-left:10px;width:440px;max-width:100%" placeholder="Tác giả..." />
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong class="pull-right" style="margin:10px 0 10px 10px">Tên hội nghị: </strong>
                                </td>
                                <td colspan="3">
                                    <input class="input_height form-control-static" id="tenHoiNghiKYQT" type="text" style="margin-left:10px;width:440px;max-width:100%" placeholder="Tên hội nghị..." />
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>Cấp tổ chức: </strong>
                                </td>
                                <td colspan="3">
                                    <input class="input_height form-control-static" id="capToChucKYQT" type="text" style="width:178px;margin-left:10px;float:left;max-width:100%;" placeholder="Quốc tế..." maxlength="100" />
                                </td>

                            </tr>

                            <tr>
                                <td>
                                    <strong>Ngày tổ chức: </strong>
                                </td>
                                <td colspan="3">
                                    <input class="input_height form-control-static" id="ngayToChucKYQT" type="text" style="margin-left:10px;width:178px;max-width:100%;float:left" placeholder="mm/yyyy..." maxlength="7" />
                                </td>

                            </tr>

                            <tr>
                                <td>
                                    <strong class="pull-right" style="margin:10px 0 10px 10px">Số hiệu ISBN: </strong>
                                </td>
                                <td colspan="3">
                                    <input class="input_height form-control-static" id="soHieuKYQT" type="text" style="margin-left:10px;width:440px;max-width:100%;float:left" placeholder="Số của tạp chí, trang đăng bài viết, Số hiệu ISBN,...." />
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>Sản phẩm của đề tài (Mã số): </strong>
                                </td>
                                <td colspan="3">
                                    <input class="input_height form-control-static" id="sanPhamCuaDeTaiKYQT" type="text" style="margin-left:10px;width:178px;max-width:100%;float:left" placeholder="Mã số..." />
                                </td>

                            </tr>

                            


                            <tr>
                                <td>
                                    <strong class="pull-right" style="margin:10px 0 10px 10px">Giờ NCKH quy đổi: </strong>
                                </td>
                                <td colspan="3">
                                    <input class="input_height form-control-static" id="gioNCKHQuyDoiKYQT" type="text" style="margin-left:10px;width:178px;max-width:100%;float:left" placeholder="Giờ NCKH quy đổi...." maxlength="255" />
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button onclick="ThemBBDKYQT()" class="btn btn-success "> Thêm</button>
                    <button class="btn btn-warning pull-right " id="ThemBBDKYQT_Dismiss_Modal" data-dismiss="modal">Hủy</button>
                </div>

            </div>


        </div>
    </div>
</div>






